.pagination{
  display: flex;
  float: right;
  margin-left: 16px;
}

.page-change-btn{
  user-select: none;
  border: thin solid #e1e1e1;
  background: whitesmoke;
  padding: 0 6px;
  margin: 0 6px;
  cursor: pointer;
  align-self: flex-start;
  padding-bottom: 2px;
}

.page-num{
  cursor: pointer;
  line-height: 28px;
  padding: 0 6px;
  user-select: none;
}

.page-num.active{
  color: #2196F3;
}